#search, #clear{
    border-radius: 50px;
}

body {  
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  body::after {
    content: "";
    background: url(../images/background.jpg);
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

#jumbotron{
    background-color: slategrey;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 340px;
    margin-left: 340px;
}

#results, #results-view{
    background: slategrey;
    width: 5%
}

#search-term, #location, #job-title, #start-year, #end-year, #number-records, #job-location{
    background-color: slategrey;
    color: black;
}

#location-search, #job-search{
    background-color: white;
}

footer{
    background-color: slategrey;
    color: black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left:  auto;
    width: 10%;
}